#aboutus, #services, #contactus{
  scroll-margin-top: 20vh;
}

.text-dark {
  font-weight: 300;
  color: #3799D4;
}

.App-container {
  width: 100%;
  max-width: 100%;
}

.carousel-control-prev, .carousel-control-next {
  content: "";
}

.submit-btn {
  background-color: #3799D4;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: lighter;
  border-radius: 50px;
}

p {
    margin: 0;
    color: white;
}

.aboutus-container {
  margin-top: 35px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}


.lines {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1%;
}

.short-line {
  width: 2vw;
  height: 1.5px;
  background-color: #3799D4;
}

.left {
  display: flex;
  align-self: flex-end;
}

.long-line {
  width: 5vw;
  height: 1.5px;
  background-color: #3799D4;
  margin-top: 6px;
}

.section-title {
  color: #3799D4;
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  font-weight: 700;
}

.section {
  display: flex;
  flex-direction: column;
  display: flex;
}

.row {
  margin-bottom: 15px;
}

.col-sm{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aboutus-img {
  width: auto;
  height: auto;
  border-radius: 10px;
  margin-left: 10%;
}

.aboutus-text{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-right: 10%;
}

.aboutus-text .heading {
  color: #231f20;
  font-size: 32px;
  font-weight: 700;
  margin: 0;
}

.heading{
  color: #231f20;
  font-weight: 700;
}

.blue-text {
  color: #3799D4;
}

.paragraph {
  color: #717171;
  font-size: 16px;
  font-weight: 400;
  padding-top: 10px;
}

.service-name {
  color: #231f20;
  margin: 10px 10px 40px 10px;
  font-weight: 600;
  text-align: center;
}

.card.services-card{
  border-radius: 20px !important;
  border: 1em !important;
  padding: 10px !important;
}

.card.services-card:hover {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.card-img-top {
  width: 100%;
  height: auto;
  object-fit: cover;
  flex-shrink: 0;
}

.section-intro {
  color: #717171;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  white-space: normal;
  text-align: center;
}

.choose-item-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-shrink: 0;
}

.choose-item-outer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  border-color: #cfcfcc;
}

.choose-item-inner .icon {
  width: 25%;
  height: 25%;
}

footer {
  background: #231f20;
}

.form-control:focus {
  background: #212529;
}

.text-small {
  font-size: 0.9rem;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

a:hover, a:focus {
  text-decoration: none;
}

.form-control {
  background: #212529;
  border-color: #545454;
}


.choose-item-inner .description {
  color:#3799D4;
  font-size: 1em;
  font-weight: 600;
  text-align: start;
  padding-top: 10px;
  text-align: center;
}

.more-description {
  color: #717171;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 15px;
  width: 80%;
  text-align: center;
}

.text-white {
  text-decoration: none;
  white-space: nowrap;
  text-align: start;
  text-align: left;
}

.text-white .link {
  text-decoration: none;
  color: #c7c7c7;
  transition: transform 2000ms ease-in-out, font-weight 100ms ease-in-out, color 1000ms ease-in-out, backface-visibility 100ms;
  backface-visibility: hidden;
  will-change: transform, font-weight, color;
}

.text-white.link:hover {
  font-weight: 600;
  color: white;
  transform: scale(1.05);
  backface-visibility: hidden;
}

.infographs {
  width: 80%;
}

.infograph-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link.active{
  background-color: transparent;
}

.white-text {
  color: white;
}

.active{
  background-color: #3799D4;
  transform: scale(1);
}

/* .carousel-indicators {
  margin: 5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 10px;
  border-color: #3799D4;
  margin-bottom: 15px;
} */

.navbar-item:active {
  transform: scale(1);
  color: #3799D4;
  font-weight: 600;
}

.rectangle {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.carousel-caption{
  position: absolute;
  top: 0%;
  left: 0;
  margin-top: 5%;
}

.carousel-caption h6 {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  text-align: start;
  font-size: 1rem;
}



.carousel-caption h1 {
  margin-top: 0;
  margin-bottom: 0;
  width: 90%;
  font-size: 3.5rem;
  font-weight: 700;
  white-space: wrap;
  color: #ffffff;
  text-align: start;
}

.carousel-caption p {
  text-align: start;
  margin-bottom: 0;
  white-space: normal;
  margin-top: 10px;
}

.footer-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: start;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 27vh;
}

.card-container .card {
  border-radius: 50%;
  background-color: #2f7eaf;
  height: 90%;
  width: 58%;
  justify-content: center;
  align-items: center;
  border: 8px solid #3799D4;
}

.inner-circular-card {
  height: 90%;
  width: 100%;
  background-color: #3799D4;
}

.card-title {
  font-weight: 700;
  font-size: 2em;
  text-align: center;
  color: white;
}

.services-card {
  display: flex;
  justify-content: center;
}


.services-card .card-title{
  color: #231f20;
  font-size: 1rem;
  text-align: center;
  white-space: normal;
  width: 100%;
}

.btn.btn-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
  align-self: center;
  background-color: #3799D4;
}

.btn.btn-primary:hover {
  background-color: #2f7eaf;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-text {
  white-space: nowrap;
  font-size: 0.95rem;
}

.card-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 993px) {

  .card-container .card {
    border-radius: 50%;
    background-color: #2f7eaf;
    height: 180px;
    width: 180px;
    justify-content: center;
    align-items: center;
    border: 8px solid #3799D4;
  }

  .choose-item-outer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: solid 1px;
    height: 100%;
    border-color: #cfcfcc;
  }
  
}

@media screen and (min-width: 575px) and (max-width: 992px) {
  .carousel-indicators > button {
    width: 5px;
    height: 12px;
  }

  .service-name {
    white-space: normal;
  }

  .service {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .aboutus-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

  .aboutus-text {
    margin-left: 3%;
  }

  .card-container .card {
    max-height: 170px;
    max-width: 170px;
    width: 100%;
  }
  
  .card-title {
    font-weight: 700;
    font-size: 2em;
    text-align: center;
    color: white;
    white-space: normal;
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .card-text {
    white-space: normal;
    font-size: 0.85rem;
    text-align: center;
  }

  .services-card .card-title{
    color: #231f20;
    font-size: 0.85rem;
    text-align: center;
    width: 100%;
    text-align: center;
  }

  .btn.btn-primary {
    width: auto;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.65rem;
    text-transform: uppercase;
    font-weight: 700;
  }

  .section-intro {
    font-size: 0.95rem;
  }

  .card.services-card {
    width: 100%;
    margin-bottom: 10px;
  }

  .card-title {
    white-space: nowrap;
  }

  .card-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .col-md-3.col-12.service {
    margin-left: auto;
    margin-right: auto;
  }

}

@media screen and (max-width: 574px) {
  .hr-mobile {
    display: none;
  }

  .choose-item-outer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: solid 1px;
    height: 100%;
    border-color: #cfcfcc;
  }

  .lines {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1%;
  }
  
  .short-line {
    width: 5vw;
    height: 1px;
    background-color: #3799D4;
  }
  
  .left {
    display: flex;
    align-self: flex-end;
  }
  
  .long-line {
    width: 10vw;
    height: 1.5px;
    background-color: #3799D4;
    margin-top: 6px;
  }
  
  .section-title {
    color: #3799D4;
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: 700;
  }

  .aboutus-text {
    margin: 0 !important;
    justify-content: center;
  }

  .aboutus-text .heading {
    color: #231f20;
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
  }

  .carousel-indicators > button {
    width: 5px;
    height: 12px;
  }

  .service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card-img-top {
    width: 50%;
    height: auto;
    object-fit: cover;
    flex-shrink: 0;
    border-radius: 10px;
  }

  .card-container {
    width: 30% !important;
    height: 100%;
    padding: 0;
    margin-right: 55px;
    margin-bottom: 10px;
  }

  .card-container .card {
    max-height: 125px;
    min-width: 125px;
  }
  
  .card-title {
    font-weight: 700;
    font-size: 1.5em;
    text-align: center;
    color: white;
    white-space: normal !important;
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .card-text {
    white-space: normal;
    font-size: 0.6rem;
    text-align: center;
  }

  .services-card .card-title{
    font-size: 0.8rem;
  }

  .services-card {
    justify-content: center;
    align-items: center;
    width: 200px;
    height: auto;
    margin-bottom: 20px;
  }

  .card-row {
    display: flex;
    justify-content: center;
  }

  .btn.btn-primary{
    font-size: 0.6rem;
  }

  .card-body{
    display: flex;
    justify-content: center;
  }

  .service {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}